<% if user_signed_in? %>
  <h1>Welcome <%= @user %></h1>
  <div class="block" style="background-color: red; height: 10px;"></div>
<% else %>
  <h1>Hello, welcome to responsibilities app! Lets get started!</h1>
<% end %>