<h1>Responsibilities</h1>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#incomplete-responsibility-tab">Incomplete</a></li>
      <li class="tab col s3"><a href="#completed-responsibility-tab">Completed</a></li>
    </ul>
    <div id="incomplete-responsibility-tab" class="col s12">
      <% count = 1 %>
      <% @incomplete_responsibilities.each_with_index do |responsibility, i| %>
        <%= render partial: 'item', locals: {responsibility: responsibility, i: i, count: count} %>
        <% count += 1 %>
      <% end %>
    </div>
    <div id="completed-responsibility-tab" class="col s12">
      <% count = 1 %>
      <% @completed_responsibilities.each_with_index do |responsibility, i| %>
        <%= render partial: 'item', locals: {responsibility: responsibility, i: i, count: count} %>
        <% count += 1 %>
      <% end %>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to(new_responsibility_path, class: 'btn-floating btn-large') do %>
    <i class="large material-icons">add</i>
  <% end %>
</div>

