<h1>Responsibilities</h1>
<% count = 1  %>
<% @responsibilities.each do |resposibility| %>
    <div class="card">
      <div class="card-content">
        <span class="card-title"><%= count.to_s + '. ' + resposibility.name.titleize %></span>
        <%= resposibility.details %>
      </div>
    </div>
    <% count += 1 %>
<% end %>


<%= link_to('+ responsibility', new_responsibility_path, class: 'waves-effect waves-light btn') %>
