<div class="card">
  <div class="card-content">
    <div class="card-title"><%= @goal.title %></div>
    <span><h5>Achieve By: </h5><%= @goal.deadline %></span>
  </div>
  <div class="card-action">
    <%= link_to 'back', :back %>
  </div>
</div>